        <div id="cssmenu">
          <ul>
            <li class="active">
              <a href="#"><i class="fa fa-dashboard"></i>用户列表</a>
            </li>
            <li class="">
              <a href="#"><i class="fa fa-bar-chart-o"></i>用户管理</a>
              <ul>
                 <li><a href="#">未验证用户列表</a></li>
                 <li><a href="#">创建用户</a>
                    <ul>
                        <li><a href="#">创建广告商用户</a></li>
                        <li><a href="#">创建车主用户</a></li>
                    </ul>
                 </li>
              </ul>
            </li>
            <li class="">
              <a href="#"><i class="fa fa-flask"></i>广告管理</a>
              <ul>
                 <li><a href="#">发布新广告</a></li>
                 <li><a href="#">广告列表</a></li>
                 <li><a href="#">广告审核</a></li>
              </ul>
            </li>
            <li class="">
              <a href="#"><i class="fa fa-flask"></i>支付管理</a>
              <ul>
                 <li><a href="#">提现审核</a></li>
                 <li><a href="#">财务对账</a></li>
              </ul>
            </li>
            <li class="">
              <a href="#"><i class="fa fa-flask"></i>后台用户管理</a>
              <ul>
                 <li><a href="#">用户列表</a></li>
                 <li><a href="#">添加后台用户</a></li>
                 <li><a href="#">权限管理</a></li>
              </ul>
            </li>
          </ul>
        </div>