        <div id="cssmenu">
          <ul>
            <li class="active">
              <a href="#"><i class="fa fa-home"></i>首页</a>
            </li>
            <li class="">
              <a><i class="fa fa-bar-chart-o"></i>用户管理</a>
              <ul>
                 <li><a ui-sref="app.user">用户列表</a>
                    <ul>
                        <li><a ui-sref="app.user">车主用户</a></li>
                        <li><a ui-sref="app.user.list-advert">广告商用户</a></li>
                    </ul>
                 </li>
                 <li><a ui-sref="app.user.create">创建用户</a></li>
              </ul>
            </li>
            <li class="">
              <a href="#"><i class="fa fa-table"></i>广告管理</a>
              <ul>
                 <li><a href="#/advert/push">发布新广告</a></li>
                 <li><a href="#/advert/audit">未审核广告</a></li>
                 <li><a href="#/advert/search">广告查询</a></li>
              </ul>
            </li>
            <li class="">
              <a href="#"><i class="fa fa-suitcase"></i>支付管理</a>
              <ul>
                 <li><a href="#">提现审核</a></li>
                 <li><a href="#">财务对账</a></li>
              </ul>
            </li>
            <li class="">
              <a href="#"><i class="fa fa-cloud"></i>后台用户管理</a>
              <ul>
                <li><a href="#/back-userlist">用户列表</a></li>
                <li><a href="#/back-adduser">添加后台用户</a></li>
                <li><a href="#/back-auth">权限管理</a></li>
              </ul>
            </li>
          </ul>
        </div>
