<div class="dashboard-wrapper-lg">
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      车主用户列表
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                      <thead>
                        <tr>
                          <th style="width:20%">
                            用户ID
                          </th>
                          <th style="width:40%" class="hidden-xs">
                            用户名称
                          </th>
                          <th style="width:20%" class="hidden-xs">
                            用户验证状态
                          </th>
                          <th style="width:10%" class="hidden-xs">
                            注册日期
                          </th>
                          <th style="width:10%" class="hidden-xs">
                            操作
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="user in filtered=(userList | filter:filterByCategory)">
                          <td>
                            <a ui-sref="app.user.detail-mobile"  ng-click="getDetailById(user.id)">
                              <span class="name">{{user.id}}</span>
                            </a>
                          </td>
                          <td>{{user.name}}</td>
                          <td>
                            <span class="label {{user.statusClass}}">
                              {{user.state}}
                            </span>
                          </td>
                          <td>{{user.registrationDate}}</td>
                          <td class="hidden-xs">
                            <div class="btn-group">
                              <button ui-sref="{{user.uiSref}}" class="btn btn-default btn-xs" ng-click="getDetailById(user.id)">
                                {{user.operator}}
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <pagination
                      ng-model="currentPage"
                      total-items="userList.length"
                      max-size="maxSize"
                      boundary-links="true">
                    </pagination> -->
                    <nav class="text-center">
                        <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead>
                  <tr>
                    <th style="width:10%">
                      <!-- <input type="checkbox" class="no-margin"> -->
                    </th>
                    <th style="width:70%">
                      用户状态
                    </th>
                    <th style="width:20%">
                      标签
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cat in categories">
                    <td>
                      <input type="checkbox" class="no-margin" ng-model="filter[cat.status]">
                    </td>
                    <td>
                      <span class="name">
                        {{cat.name}}
                      </span>
                    </td>
                    <td>
                      <span class="label {{cat.labelClass}}">
                        {{cat.info}}
                      </span>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>
                      <input type="checkbox" class="no-margin">
                    </td>
                    <td>
                      <span class="name">
                        等待审核
                      </span>
                    </td>
                    <td>
                      <span class="label label-info">
                        待审核
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin">
                    </td>
                    <td>
                      <span class="name">
                        审核通过
                      </span>
                    </td>
                    <td>
                      <span class="label label-success">
                        审核通过
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin">
                    </td>
                    <td>
                      <span class="name">
                        审核未通过
                      </span>
                    </td>
                    <td>
                      <span class="label label-danger">
                        审核未通过
                      </span>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
          <!-- Right Sidebar End -->
</div>
