<div class="dashboard-wrapper-lg">
          <div class="col-lg-10 col-lg-offset-1">
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      广告商退款申请列表
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                      <thead>
                        <tr>
                          <th style="width:20%">
                            用户名称
                          </th>
                          <th style="width:17%" class="hidden-xs">
                            用户ID
                          </th>
                          <th style="width:17%" class="hidden-xs">
                            退款账户
                          </th>
                          <th style="width:10%" class="hidden-xs">
                            账户余额
                          </th>
                          <th style="width:20%" class="hidden-xs">
                            申请日期
                          </th>
                          <th style="width:16%" class="hidden-xs">
                            操作
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr ng-repeat="item in refundApplyList">
                          <td>
                            <a ui-sref="app.user.detail-mobile">
                                <span class="name">{{item.userName}}</span>
                            </a>
                          </td>
                          <td>
                            {{item.userId}}
                          </td>
                          <td>
                            {{item.account}}
                          </td>
                           <td>
                            {{item.money}}
                          </td>
                          <td>
                            {{item.applyDate}}
                          </td>
                          <td class="hidden-xs">
                            <div class="btn-group">
                              <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#exampleModal" ng-click="pass(item.id)">
                                完成退款
                              </button>
                              <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#exampleModal" ng-click="reject(item.id)">
                                拒绝退款
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--分页-->
                    <pagination
                      ng-model = "currentPage"
                      total-items = "length"
                      items-per-page = "numPerPage"
                      max-size = "maxSize"
                      boundary-links = "true">
                    </pagination>
                    <!-- <nav class="text-center">
                        <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        </ul>
                    </nav> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->
          </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">退款申请</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">经办人:</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="经办人账号" ng-model="username">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">密码:</label>
            <input type="password" class="form-control" id="recipient-name" placeholder="请输入经办人密码" ng-model="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="completeCash(username,password,tag,applyId)">完成</button>
      </div>
    </div>
  </div>
</div>
