<div class="sub-nav hidden-sm hidden-xs">
  <ul>
    <li class="hidden-sm hidden-xs">
      <a href="#/advert/push" class="selected">发布新广告</a>
    </li>
    <li class="hidden-sm hidden-xs">
      <a href="#/advert/audit" class="">未审核广告</a>
    </li>
    <li class="hidden-sm hidden-xs">
      <a href="#/advert/search" class="">广告查询</a>
    </li>
  </ul>
  <div class="custom-search hidden-sm hidden-xs">
    <input type="text" class="search-query" placeholder="Search here ...">
    <i class="fa fa-search"></i>
  </div>
</div>
