<div class="sub-nav hidden-sm hidden-xs">
  <ul>
    <li><a href="" class="heading">广告管理</a></li>
    <!-- <li class="hidden-sm hidden-xs">
      <a href="#/advert/push" ng-class="{'selected': adpush}">发布新广告</a>
    </li> -->
    <li class="hidden-sm hidden-xs">
      <a href="#/advert/audit" ng-class="{'selected': adaduit}">未审核广告</a>
    </li>
    <li class="hidden-sm hidden-xs">
      <a href="#/advert/search" ng-class="{'selected': adsearch}">广告查询</a>
    </li>
  </ul>
  <div class="custom-search hidden-sm hidden-xs">
    <input type="text" class="search-query" placeholder="Search here ...">
    <i class="fa fa-search"></i>
  </div>
</div>
