<div class="sub-nav hidden-sm hidden-xs">
  <ul>
    <li><a class="heading">后台用户管理</a></li>
    <li class="hidden-sm hidden-xs">
      <a ui-sref="app.admin-userlist" ng-class="{'selected': userlist}">用户列表</a>
    </li>
    <li class="hidden-sm hidden-xs">
      <a ui-sref="app.admin-adduser" ng-class="{'selected': adduser}">添加后台用户</a>
    </li>
    <li class="hidden-sm hidden-xs">
      <a ui-sref="app.admin-auth" ng-class="{'selected': userauth}">权限管理</a>
    </li>
  </ul>
  <div class="custom-search hidden-sm hidden-xs">
    <input type="text" class="search-query" placeholder="Search here ...">
    <i class="fa fa-search"></i>
  </div>
</div>
