<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading">用户审核</a></li>
        <li class="hidden-sm hidden-xs"><a ui-sref="app.user" class="selected">车主用户审核</a></li>
        <li class="hidden-sm hidden-xs"><a ui-sref="app.user.list-advert" class="">广告商用户审核</a></li>
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search here ...">
            <i class="fa fa-search"></i>
          </div>
        </div>