<div class="sub-nav hidden-sm hidden-xs">
    <ul>
            <li class="hidden-sm hidden-xs">
              <a href="" class="">广告商用户</a>
            </li>
            <li class="hidden-sm hidden-xs">
              <a href="" class="selected">车主用户</a>
            </li>
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search here ...">
            <i class="fa fa-search"></i>
          </div>
        </div>