<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading">用户列表</a></li>
        <li class="hidden-sm hidden-xs"><a ui-sref="app.user" ng-class="{'selected': user}">车主用户</a></li>
        <li class="hidden-sm hidden-xs"><a ui-sref="app.user.list-advert" ng-class="{'selected': advert}">广告商用户</a></li>
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search here ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
