<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper-lg">
  <!-- Row Start -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-12">
      <div class="widget">
        <div class="widget-header">
          <div class="title">
            香水广告(广告名称)
            <span class="mini-title">
              详细信息
            </span>
          </div>
        </div>
        <div class="widget-body">
          <form class="form-horizontal no-margin">
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">广告编号</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" value="{{ad_id}}" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">广告标题</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" value="{{ad_title}}" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">广告内容</label>
              <div class="col-sm-10">
                <textarea type="text" class="form-control" disabled>{{ad_content}}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">广告类别</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" value="{{ad_catalog}}" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 col-xs-12 control-label">投放商圈</label>
              <div class="checkbox col-sm-10 col-xs-8">
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.wujiaochang" checked>五角场
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.renminguangchang" checked>人民广场
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.xujiahui" checked>徐家汇
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.jingansi" checked>静安寺
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.lujiazui" checked>陆家嘴
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.shijigongyuan" checked>世纪公园
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.zhongshangongyuan" >中山公园
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.zhangjiang" >张江
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.nanjingdonglu" >南京东路
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.hongqiao" >虹桥
                </label>
                <label>
                  <input type="checkbox" disabled value="" ng-true-value="true" ng-false-value="false" ng-model="showLocation.pudongjichang" >浦东机场
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">广告投放起始日期</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" value="{{ad_startDate}}" required>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">广告投放结束日期</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" value="{{ad_endDate}}" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <!--未审核的显示以下两个button-->
                <button type="submit" class="btn btn-success btn-advert" ng-click="audit(ad_id,1)">审核通过</button>
                <button type="submit" class="btn btn-danger btn-advert" ng-click="audit(ad_id,0)">审核不通过</button>
                <!--审核通过的显示下面这个button-->
                <button type="submit" class="btn btn-danger btn-advert" data-toggle="modal" data-target="#myModal">下架</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Row End -->
</div>

<!-- 因为这里缺少一个模态框，所以我临时加了一个暂时的，样式什么的都没调 -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">下架理由</h4>
      </div>
      <div class="modal-body">
        <textarea style="width: 100%" ng-model="reason"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(ad_id,reason)">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard Wrapper End -->
